body {
    background-color: #f8f9fa;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}
.about-card {
    transition: transform 0.3s;
}

.about-card:hover {
    transform: scale(1.05);
}

.card {
    border: none; /* Menghilangkan border default dari card */
}

.hover-shadow:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

        .list-group-item {
            transition: transform 0.3s;
        }
        .list-group-item:hover {
            transform: scale(1.05);
            background-color: #e2e6ea;
        }